<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="org.example"/>
    <!--<bean id="myPet" class="org.example.pets.Dog"
          destroy-method="preDestroy"
          init-method="postConstruct">
        <constructor-arg name="name" value="Strelka"/>
    </bean>

    <bean id="human" class="org.example.persons.PetOwner">
        <property name="name" value="Yury Gagarin"/>
        <property name="pet" ref="myPet"/>
    </bean>-->

</beans>